#main {
float:center;
vertical-align:middle;
background-color: #fcf4ea;
width: 100%;
max-width: 1000px;
margin: 0 auto;
}

body {
background-color: #fcf4ea;
text-align: center;
margin: auto;
padding: 15px 15px 15px 15px;
}


#success {
display: none;
text-align: center;
}

#title {
font-family: 'Squada One';
font-size: 58px;
font-weight: 500;
letter-spacing: 1px;
text-align: center;
margin-top:15px;
margin-bottom:15px;
}
#header {
font-family: 'Roboto Slab';
font-size: 17px;
font-weight: 500;
letter-spacing: 1px;
text-align: center;
margin-top:15px;
margin-bottom:15px;
display: none;
}

#mobileheader {
font-family: 'Roboto Slab';
font-size: 17px;
font-weight: 500;
letter-spacing: 1px;
text-align: center;
}

#img {
border: 3px solid black;
padding: 5px 5px 5px 5px;
width: 95%;
margin-bottom: 10px;
margin: auto;
}

td {
display: block;
width: 100%;
}

table {
width: 100%
}

#form {
background-color: #1c2742;
color: #ffffff;
padding: 20px 20px 20px 20px;
}

#formheader {
font-family: 'Squada One';
font-size: 37px;
font-weight: 500;
letter-spacing: 1.8px;
margin-top:15px;
margin-bottom:15px;
}


.button {
font-family: 'Roboto Slab';
font-size: 18px;
font-weight: 400;
letter-spacing: 2px;
background-color: #fd9563;
color: #ffffff;
text-align: center;
cursor: pointer;
border-radius: 50px 50px 50px 50px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 10px;
}

#fullbutton {
display: none;
}

.tip {
color: #e3463f;
font-size: 12px;
font-weight: 600;
}

input {
font-family: 'Roboto Slab';
font-size: 14px;
font-weight: 500;
letter-spacing: 0.6px;
color: #6b6b6b;
width: 90%;
padding: 3px 3px 3px 3px;
margin-top:10px;
margin-bottom:10px;
}

select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
font-family: 'Roboto Slab';
font-size: 14px;
font-weight: 500;
letter-spacing: 0.6px;
color: #6b6b6b;
background-color: #ffffff;
width: 92%;
border-radius: 3px;
padding: 3px 3px 3px 3px;
margin-top:10px;
margin-bottom:10px;
}

#price {
width: 90%!important;
}


#success {
font-family: 'Squada One';
font-size: 37px;
font-weight: 500;
letter-spacing: 1.8px;
}

#gif {
border: 3px solid black;
padding: 5px 5px 5px 5px;
}
